# **Australian Cities dataset with Suburbs** 
## **Author: Khizer Rehman**
### ***Date: 25-11-2024***
### Dataset from [opendatasoft.com](https://public.opendatasoft.com/explore/dataset/georef-australia-state-suburb-millesime/table/?disjunctive.ste_code&disjunctive.ste_name&disjunctive.lga_code&disjunctive.lga_name&disjunctive.scc_code&disjunctive.scc_name&refine.year=2021)

# Import libraries

In [1]:
# importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

c:\Users\dv04i\miniconda3\envs\ydata_profiling\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

**Load the dataset**

In [786]:
df = pd.read_excel('georef-australia-state-suburb-millesime.xlsx')

# Dataset basic Info

In [787]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15334 entries, 0 to 15333
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Geo Point                            15333 non-null  object
 1   Geo Shape                            15333 non-null  object
 2   Year                                 15334 non-null  int64
 3   Official Code State                  15334 non-null  int64
 4   Official Name State                  15334 non-null  object
 5   Official Code Local Government Area  15334 non-null  object
 6   Official Name Local Government Area  15334 non-null  object
 7   Official Code Suburb                 15334 non-null  int64
 8   Official Name Suburb                 15334 non-null  object
 9   Iso 3166-3 Area Code                 15334 non-null  object
 10  Type                                 15334 non-null  object
dtypes: int64(3), object(8)
memory usage: 1.3+ MB

# Drop these columns from the dataset 'Iso 3166-3 Area Code' , 'Year', 'Type'

In [788]:
df['Iso 3166-3 Area Code'].nunique()

1

In [789]:
df['Year'].nunique()

1

In [790]:
df['Type'].nunique()

1

In [791]:
df.drop(['Iso 3166-3 Area Code', 'Year', 'Type'], axis=1, inplace=True)

In [792]:
df.columns

Index(['Geo Point', 'Geo Shape', 'Official Code State', 'Official Name State',
       'Official Code Local Government Area',
       'Official Name Local Government Area', 'Official Code Suburb',
       'Official Name Suburb'],
      dtype='object')

In [793]:
df.head()

,Geo Point,Geo Shape,Official Code State,Official Name State,Official Code Local Government Area,Official Name Local Government Area,Official Code Suburb,Official Name Suburb
0,"-36.01193158762528, 148.786320441595","{""coordinates"":[[[148.71675360000006,-36.06054...",1,New South Wales,17040,Snowy Monaro Regional,10015,Adaminaby
1,"-36.07369799464406, 146.91346780765934","{""coordinates"":[[[146.92431042300007,-36.08614...",1,New South Wales,10050,Albury,10027,Albury
2,"-32.91425516102453, 148.26802074020546","{""coordinates"":[[[148.19998799900006,-32.96692...",1,New South Wales,16200,Parkes,10029,Alectown
3,"-34.40869358826243, 150.53677066431447","{""coordinates"":[[[150.5122384670001,-34.422367...",1,New South Wales,18350,Wingecarribee,10044,Alpine
4,"-34.91797895821861, 145.6572484339588","{""coordinates"":[[[145.66848513900004,-35.01702...",1,New South Wales,15560,Murrumbidgee,10081,Argoon

In [794]:
df['Official Name Suburb'].value_counts()

Official Name Suburb
Adaminaby             1
Safety Beach (NSW)    1
Peacock Creek         1
Peak Hill (NSW)       1
Peak View             1
                     ..
Kudla                 1
Kybybolite            1
Lake Alexandrina      1
Leasingham            1
O'Connor (ACT)        1
Name: count, Length: 15334, dtype: int64

In [795]:
df['Official Name Suburb'].count()

15334

In [796]:
df['Official Name Local Government Area'].nunique()

1294

In [797]:
df.head()

,Geo Point,Geo Shape,Official Code State,Official Name State,Official Code Local Government Area,Official Name Local Government Area,Official Code Suburb,Official Name Suburb
0,"-36.01193158762528, 148.786320441595","{""coordinates"":[[[148.71675360000006,-36.06054...",1,New South Wales,17040,Snowy Monaro Regional,10015,Adaminaby
1,"-36.07369799464406, 146.91346780765934","{""coordinates"":[[[146.92431042300007,-36.08614...",1,New South Wales,10050,Albury,10027,Albury
2,"-32.91425516102453, 148.26802074020546","{""coordinates"":[[[148.19998799900006,-32.96692...",1,New South Wales,16200,Parkes,10029,Alectown
3,"-34.40869358826243, 150.53677066431447","{""coordinates"":[[[150.5122384670001,-34.422367...",1,New South Wales,18350,Wingecarribee,10044,Alpine
4,"-34.91797895821861, 145.6572484339588","{""coordinates"":[[[145.66848513900004,-35.01702...",1,New South Wales,15560,Murrumbidgee,10081,Argoon

In [798]:
columns = df.columns
for i in columns:
    print(i)

Geo Point
Geo Shape
Official Code State
Official Name State
Official Code Local Government Area
Official Name Local Government Area
Official Code Suburb
Official Name Suburb

# Rename all the columns according to mysql database

In [799]:
df.rename(columns={'Geo Point':"geo_point", 
                   "Geo Shape":"geo_shape", 
                   "Official Code State":"stateid", 
                   "Official Name State":"statename", 
                   "Official Code Local Government Area":"cityid", 
                   "Official Name Local Government Area":"cityname", 
                   "Official Code Suburb":"suburbid", 
                   "Official Name Suburb":"suburbname"}, inplace=True)

In [800]:
columns = df.columns
for i in columns:
    print(i)

geo_point
geo_shape
stateid
statename
cityid
cityname
suburbid
suburbname

In [801]:
df.dtypes

geo_point     object
geo_shape     object
stateid        int64
statename     object
cityid        object
cityname      object
suburbid       int64
suburbname    object
dtype: object

# Rearrange the dataset

In [802]:
df = df[['stateid','statename','cityid' , 'cityname','suburbid', 'suburbname', 'geo_point', 'geo_shape']] 
df

,stateid,statename,cityid,cityname,suburbid,suburbname,geo_point,geo_shape
0,1,New South Wales,17040,Snowy Monaro Regional,10015,Adaminaby,"-36.01193158762528, 148.786320441595","{""coordinates"":[[[148.71675360000006,-36.06054..."
1,1,New South Wales,10050,Albury,10027,Albury,"-36.07369799464406, 146.91346780765934","{""coordinates"":[[[146.92431042300007,-36.08614..."
2,1,New South Wales,16200,Parkes,10029,Alectown,"-32.91425516102453, 148.26802074020546","{""coordinates"":[[[148.19998799900006,-32.96692..."
3,1,New South Wales,18350,Wingecarribee,10044,Alpine,"-34.40869358826243, 150.53677066431447","{""coordinates"":[[[150.5122384670001,-34.422367..."
4,1,New South Wales,15560,Murrumbidgee,10081,Argoon,"-34.91797895821861, 145.6572484339588","{""coordinates"":[[[145.66848513900004,-35.01702..."
...,...,...,...,...,...,...,...,...
15329,8,Australian Capital Territory,89399,Unincorporated ACT,80023,Beard,"-35.341729402139414, 149.2105302094079","{""coordinates"":[[[149.21876130200005,-35.34132..."
15330,8,Australian Capital Territory,89399,Unincorporated ACT,80028,Bruce (ACT),"-35.24548030806253, 149.09155194266856","{""coordinates"":[[[149.09199952500012,-35.23483..."
15331,8,Australian Capital Territory,89399,Unincorporated ACT,80037,Chisholm (ACT),"-35.42196479042136, 149.12491232833983","{""coordinates"":[[[149.114427619,-35.4162914309..."
15332,8,Australian Capital Territory,89399,Unincorporated ACT,80038,City,"-35.281329376797565, 149.12913206614766","{""coordinates"":[[[149.12790347300006,-35.28601..."
15333,8,Australian Capital Territory,89399,Unincorporated ACT,80102,O'Connor (ACT),"-35.256640856045756, 149.11555601657275","{""coordinates"":[[[149.11397424100005,-35.24369..."

# Drope the geo_shape column from the dataset

In [803]:
df.drop('geo_shape', axis=1, inplace = True)

# Change the statename with its short form

In [804]:
names = df['statename'].unique()
for i in names:
    print(i)

New South Wales
Victoria
Queensland
South Australia
Western Australia
Northern Territory, Western Australia
Tasmania
Northern Territory
Australian Capital Territory
New South Wales, Victoria
South Australia, Victoria
South Australia, Western Australia
Other Territories
Northern Territory, Queensland
Australian Capital Territory, New South Wales
New South Wales, South Australia
New South Wales, Queensland
Northern Territory, South Australia, Western Australia

In [805]:
state_short_form = {
    'New South Wales': 'NSW',
    'Victoria': 'Vic',
    'Queensland': 'Qld',
    'South Australia': 'SA',
    'Western Australia': 'WA',
    'Northern Territory, Western Australia': 'NT, WA',
    'Tasmania': 'Tas',
    'Northern Territory': 'NT',
    'Australian Capital Territory': 'ACT',
    'New South Wales, Victoria': 'NSW, Vic',
    'South Australia, Victoria': 'SA, Vic',
    'South Australia, Western Australia': 'SA, WA',
    'Other Territories': 'OT',
    'Northern Territory, Queensland': 'NT, Qld',
    'Australian Capital Territory, New South Wales': 'ACT, NSW',
    'New South Wales, South Australia': 'NSW, SA',
    'New South Wales, Queensland': 'NSW, Qld',
    'Northern Territory, South Australia, Western Australia': 'NT, SA, WA'

}

In [806]:
df['statename'] = df['statename'].map(state_short_form)

In [807]:
df['statename'].value_counts()

statename
NSW           4525
Qld           3229
Vic           2940
WA            1697
SA            1692
Tas            776
NT             302
ACT            136
NSW, Vic         9
NSW, Qld         7
OT               5
ACT, NSW         4
NT, WA           3
SA, Vic          3
NT, Qld          2
NSW, SA          2
SA, WA           1
NT, SA, WA       1
Name: count, dtype: int64

In [808]:
df['stateid'].value_counts()

stateid
1    4542
3    3233
2    2945
5    1700
4    1694
6     776
7     303
8     136
9       5
Name: count, dtype: int64

In [809]:
df['cityid'].isnull().sum()

0

In [810]:
df['cityid'].value_counts()

cityid
36910                                215
15240                                191
31000                                190
11650                                149
11730                                147
                                    ...
62410, 64610, 65010                    1
10300, 11600, 13850                    1
10180, 13660, 14220, 17310, 17650      1
12150, 15750, 17900                    1
70420                                  1
Name: count, Length: 1319, dtype: int64

In [811]:
df['cityid'] = df['cityid'].astype(str).str.split(',').str[0]
df['cityid'].astype('Int64')

0        17040
1        10050
2        16200
3        18350
4        15560
         ...
15329    89399
15330    89399
15331    89399
15332    89399
15333    89399
Name: cityid, Length: 15334, dtype: Int64

In [812]:
df['cityid'].isnull().sum()

0

In [813]:
df['suburbid'].nunique()

15334

In [814]:
df[df['suburbname'] == 'Cambra']

,stateid,statename,cityid,cityname,suburbid,suburbname,geo_point
14768,1,NSW,12700,Dungog,10765,Cambra,"-32.45123917631323, 151.8649024812341"

In [815]:
values = df['cityid'].unique()
for x in values:
    print(x)

17040
10050
16200
18350
15560
10300
16380
17640
11650
13910
15050
15240
10800
15270
14920
11400
17080
15900
19399
14550
12750
15850
12850
14170
14650
17200
10950
11350
14850
13660
15950
12160
12390
16700
16260
16400
10850
14400
17550
15990
10550
11150
13850
15700
14300
16100
16490
11730
16950
11720
18450
10500
12930
18400
10900
12730
18250
12870
13010
13550
11450
10600
17000
10750
13800
17350
10470
16610
17150
12700
13310
17750
14220
18200
17400
15520
17850
11600
13450
14500
13340
14950
20830
22830
23940
25990
25340
22250
22750
26980
26260
21010
24900
23270
22620
23430
20570
22110
25620
25710
21670
20260
24850
26890
26170
24780
23810
24250
21750
20660
26490
22980
26610
21610
24330
22310
26700
26810
27450
21370
25250
22490
25490
20740
21110
25810
24970
24600
24210
21270
32270
33220
31820
34770
35760
36720
34590
36630
36910
34860
30760
36660
35010
36510
32260
31000
33980
34580
33610
36250
32310
32810
37010
33360
33620
32080
32250
34880
33960
31900
37310
36580
34420
35740
33800
33430
36370
32500
37340
35600
34800
36820
37550
40430
42750
45120
48830
43790
44210
41140
45340
40310
47800
46450
48130
44340
46090
45290
49399
46670
41830
45090
43650
47630
40220
40700
44060
42250
48410
41960
43080
45040
41750
48750
46510
45890
48340
47490
47910
47700
45400
41010
51890
54310
59370
55320
50080
51330
57490
52240
52450
59170
50770
59030
53360
55110
57280
51400
57770
57910
53920
50840
58570
56790
51610
56730
58610
54550
55950
59100
55390
56860
54280
53780
51540
55250
52520
51680
58330
57350
53010
53220
56230
54830
55810
56300
50210
53710
53800
55460
51820
50560
58190
53290
58760
58540
52590
63210
62010
61810
62610
61210
64610
64010
63410
60810
62210
61410
61510
64210
61010
62410
60610
60210
63810
71000
70200
70700
72300
72330
73600
70420
74550
70620
89399
17650
17620
15300
11750
16550
12150
14870
17900
10250
14350
2642
12380
14600
14900
10650
16150
16900
11520
23110
25150
20910
20110
24130
23350
27260
27350
27070
26430
21450
25430
22410
22910
24650
26080
25900
21830
25060
23190
30370
36960
34530
35300
37600
40120
42110
44830
42030
5291
44620
45680
44000
44550
43360
41060
40250
50910
51260
54060
55600
50980
55180
52870
53570
51310
57980
54170
59310
50280
52030
50250
54690
51470
55040
54760
55530
59340
53640
57210
54130
52660
57630
57700
59250
65810
64810
63010
65410
65010
65210
63610
79399
74660
74680
51710
10180
15750
15650
16350
12900
18020
12350
2734
11500
11800
17950
12000
17310
22170
23670
27170
36150
33100
41190
48050
47140
43220
43710
40150
41560
48540
48640
58050
51080
51750
53080
50630
51190
57140
51960
54620
52730
52310
58400
50490
57000
59360
58680
59320
62810
72800
72200
14000
11570
18500
15800
18710
15350
14750
2640
18050
27630
21890
21180
26350
31950
35800
32450
36950
4829
40520
54340
54410
54200
58470
52940
58510
52800
59330
53990
56370
57420
60410
61610
71300
51860
33200
40070
47290
48260
46860
54900
57080
56090
74050
11200
18100
14100
2620
12950
26670
22670
17420
24410
30900
42600
52380
54970
57840
56160
56460
53430
55880
2880
30300
36300
37300
31750
40910
45540
58890
58260
58820
56620
2840
17100
2476
37400
36070
35780
35250
32600
47980
46970
51120
55670
59350
65610
99399
32330
50420
52100
11300
11700
30250
32750
32770
30410
30450
52170
14700
55740
34710
50350
74560
2737
29399
2406
54480
53150
56580
37570
41330
56930
70540

In [816]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15334 entries, 0 to 15333
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stateid     15334 non-null  int64
 1   statename   15334 non-null  object
 2   cityid      15334 non-null  object
 3   cityname    15334 non-null  object
 4   suburbid    15334 non-null  int64
 5   suburbname  15334 non-null  object
 6   geo_point   15333 non-null  object
dtypes: int64(2), object(5)
memory usage: 838.7+ KB

In [817]:
df_city_suburbs = pd.DataFrame(df.groupby('cityname')['suburbname'].value_counts())
df_city_suburbs

                                count
cityname        suburbname
Adelaide        Adelaide            1
                North Adelaide      1
Adelaide Hills  Aldgate             1
                Ashton              1
                Balhannah           1
...                               ...
Yorke Peninsula White Hut           1
                Winulta             1
                Wool Bay            1
                Yorke Valley        1
                Yorketown           1

[15334 rows x 1 columns]

# Feature Engineering the 'geo_point' and 'geo_shape'

In [818]:
max_geo_point_chars = df['geo_point'].str.len().max()
max_geo_point_chars

39.0

In [819]:
df.columns

Index(['stateid', 'statename', 'cityid', 'cityname', 'suburbid', 'suburbname',
       'geo_point'],
      dtype='object')

In [820]:
df1 =df.iloc[0:2000, 0:]

In [821]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stateid     2000 non-null   int64
 1   statename   2000 non-null   object
 2   cityid      2000 non-null   object
 3   cityname    2000 non-null   object
 4   suburbid    2000 non-null   int64
 5   suburbname  2000 non-null   object
 6   geo_point   2000 non-null   object
dtypes: int64(2), object(5)
memory usage: 109.5+ KB

In [822]:
df_city_suburbs = pd.DataFrame(df.groupby('cityname')['suburbname'].value_counts())
df_city_suburbs

                                count
cityname        suburbname
Adelaide        Adelaide            1
                North Adelaide      1
Adelaide Hills  Aldgate             1
                Ashton              1
                Balhannah           1
...                               ...
Yorke Peninsula White Hut           1
                Winulta             1
                Wool Bay            1
                Yorke Valley        1
                Yorketown           1

[15334 rows x 1 columns]

In [823]:
df.to_csv('australian_cities.csv')