# Feature Scalling

### 1. Min_Max Scaler

In [3]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler

In [5]:
data = {"random_number": [190, 282, 367, 400, 235]}
df = pd.DataFrame(data)
df.head()

   random_number
0            190
1            282
2            367
3            400
4            235

In [6]:
scaler = MinMaxScaler()
df["scaled_random_number"] = scaler.fit_transform(df[["random_number"]])
df

   random_number  scaled_random_number
0            190              0.000000
1            282              0.438095
2            367              0.842857
3            400              1.000000
4            235              0.214286

# 2. Standard Scaler or Z-Score Normalization

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [7]:
data = {"random_number": [190, 282, 367, 400, 235]}
df = pd.DataFrame(data)
df.head()

   random_number
0            190
1            282
2            367
3            400
4            235

In [9]:
df["scaled_random_number"] = scaler.fit_transform(df[["random_number"]])
df

   random_number  scaled_random_number
0            190              0.000000
1            282              0.438095
2            367              0.842857
3            400              1.000000
4            235              0.214286